/*BODY AYUDA INICIO*/
.body-ayuda{
    background-image: url(../img/fondos-body/fondo-verde-mobile.jpg);
    background-color: rgb(8, 19, 54);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}
/*BODY AYUDA FIN*/

.menu-ayuda{
    .contenedor-ayuda{
        .ayuda-1{
            background-color: rgba(0, 0, 0, 0.372);
            padding: 30px;
            margin: 50px
        }
    }
}

.menu-ayuda{
    .contenedor-ayuda{
        .ayuda-2{
            background-color: rgba(0, 0, 0, 0.372);
            padding: 30px;
            margin: 50px
        }
    }
}

.menu-ayuda{
    .contenedor-ayuda{
        .ayuda-3{
            background-color: rgba(0, 0, 0, 0.372);
            padding: 30px;
            margin: 50px
        }
    }
}

.menu-ayuda{
    .contenedor-ayuda{
        .ayuda-4{
            background-color: rgba(0, 0, 0, 0.372);
            padding: 30px;
            margin: 50px
        }
    }
}
