@media only screen and (min-width:320px){
/*BODY PRODUCTORES INICIO*/
.body-productores{
    background-color: rgb(0, 81, 73);
    background-image: url(../img/fondos-body/fondo-verde-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}
/*BODY PRODUCTORES FIN*/



/*CARD PRODUCTOR INICIO*/
.card-productores{
    .productor-1{
        background-color: rgba(0, 0, 0, 0.192);
        border-radius: 20px;
        margin: 20px;
        padding: 10px;
        color: aliceblue;
    }
}

.card-productores{
    .productor-1{
        .topcard-productor{
            .img-productor{
                img{
                    width: 35px;
                    height: auto;
                    padding-left: 10px;
                }
            }
        }
    }
}

/*datos de las cards individuales inicio*/
.card-productores{
    .productor-1{
        .topcard-productor{
            display: flex;
            border-bottom: 1px solid rgb(255, 255, 255);
            padding: 5px;
            justify-content:start;
            h4{
                padding-left: 10px;
                padding-top: 1px;
            }
        }
    }
}

.card-productores{
    .productor-1{
        .productor-bio{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
            }
            p{
                text-align: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-1{
        .productor-programas{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 0px;
                color: rgb(116, 200, 255);
            }
            .programas-iconos{
                img{
                    width: 40px;
                    height: auto;
                    margin: 5px;
                }
                display: flex;
                justify-content: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-1{
        .productor-trabajos{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
            }
            p{
                text-align: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-1{
        .productor-contacto{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
                padding-bottom: 5px;
            }
        }
    }
}

.card-productores{
    .productor-1{
        .productor-contacto{
            .productor-icono-redes{
                display: flex;
                justify-content: center;
                gap: 10px;
                a i{
                    color: aliceblue;
                    font-size: 30px;
            }
            padding-bottom: 10px;
        }
    }
}
}
/*CARD PRODUCTOR FIN*/


/*CARD PRODUCTOR INICIO 2*/
.card-productores{
    .productor-2{
        background-color: rgba(0, 0, 0, 0.192);
        border-radius: 20px;
        margin: 20px;
        padding: 10px;
        color: aliceblue;
    }
}

.card-productores{
    .productor-2{
        .topcard-productor{
            .img-productor{
                img{
                    width: 35px;
                    height: auto;
                    padding-left: 10px;
                }
            }
        }
    }
}

/*datos de las cards individuales inicio 2*/
.card-productores{
    .productor-2{
        .topcard-productor{
            display: flex;
            border-bottom: 1px solid rgb(255, 255, 255);
            padding: 5px;
            justify-content:start;
            h4{
                padding-left: 10px;
                padding-top: 1px;
            }
        }
    }
}

.card-productores{
    .productor-2{
        .productor-bio{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
            }
            p{
                text-align: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-2{
        .productor-programas{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 0px;
                color: rgb(116, 200, 255);
            }
            .programas-iconos{
                img{
                    width: 40px;
                    height: auto;
                    margin: 5px;
                }
                display: flex;
                justify-content: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-2{
        .productor-trabajos{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
            }
            p{
                text-align: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-2{
        .productor-contacto{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
                padding-bottom: 5px;
            }
        }
    }
}

.card-productores{
    .productor-2{
        .productor-contacto{
            .productor-icono-redes{
                display: flex;
                justify-content: center;
                gap: 10px;
                a i{
                    color: aliceblue;
                    font-size: 30px;
            }
            padding-bottom: 10px;
        }
    }
}
}
/*CARD PRODUCTOR FIN 2*/

/*CARD PRODUCTOR INICIO 3*/
.card-productores{
    .productor-3{
        background-color: rgba(0, 0, 0, 0.192);
        border-radius: 20px;
        margin: 20px;
        padding: 10px;
        color: aliceblue;
    }
}

.card-productores{
    .productor-3{
        .topcard-productor{
            .img-productor{
                img{
                    width: 35px;
                    height: auto;
                    padding-left: 10px;
                }
            }
        }
    }
}

/*datos de las cards individuales inicio 3*/
.card-productores{
    .productor-3{
        .topcard-productor{
            display: flex;
            border-bottom: 1px solid rgb(255, 255, 255);
            padding: 5px;
            justify-content:start;
            h4{
                padding-left: 10px;
                padding-top: 1px;
            }
        }
    }
}

.card-productores{
    .productor-3{
        .productor-bio{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
            }
            p{
                text-align: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-3{
        .productor-programas{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 0px;
                color: rgb(116, 200, 255);
            }
            .programas-iconos{
                img{
                    width: 40px;
                    height: auto;
                    margin: 5px;
                }
                display: flex;
                justify-content: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-3{
        .productor-trabajos{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
            }
            p{
                text-align: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-3{
        .productor-contacto{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
                padding-bottom: 5px;
            }
        }
    }
}

.card-productores{
    .productor-3{
        .productor-contacto{
            .productor-icono-redes{
                display: flex;
                justify-content: center;
                gap: 10px;
                a i{
                    color: aliceblue;
                    font-size: 30px;
            }
            padding-bottom: 10px;
        }
    }
}
}
/*CARD PRODUCTOR FIN 3*/

/*CARD PRODUCTOR INICIO 4*/
.card-productores{
    .productor-4{
        background-color: rgba(0, 0, 0, 0.192);
        border-radius: 20px;
        margin: 20px;
        padding: 10px;
        color: aliceblue;
    }
}

.card-productores{
    .productor-4{
        .topcard-productor{
            .img-productor{
                img{
                    width: 35px;
                    height: auto;
                    padding-left: 10px;
                }
            }
        }
    }
}

/*datos de las cards individuales inicio 4*/
.card-productores{
    .productor-4{
        .topcard-productor{
            display: flex;
            border-bottom: 1px solid rgb(255, 255, 255);
            padding: 5px;
            justify-content:start;
            h4{
                padding-left: 10px;
                padding-top: 1px;
            }
        }
    }
}

.card-productores{
    .productor-4{
        .productor-bio{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
            }
            p{
                text-align: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-4{
        .productor-programas{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 0px;
                color: rgb(116, 200, 255);
            }
            .programas-iconos{
                img{
                    width: 40px;
                    height: auto;
                    margin: 5px;
                }
                display: flex;
                justify-content: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-4{
        .productor-trabajos{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
            }
            p{
                text-align: center;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding-bottom: 10px;
            }
        }
    }
}

.card-productores{
    .productor-4{
        .productor-contacto{
            h5{
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                color: rgb(116, 200, 255);
                padding-bottom: 5px;
            }
        }
    }
}

.card-productores{
    .productor-4{
        .productor-contacto{
            .productor-icono-redes{
                display: flex;
                justify-content: center;
                gap: 10px;
                a i{
                    color: aliceblue;
                    font-size: 30px;
            }
            padding-bottom: 10px;
        }
    }
}
}
/*CARD PRODUCTOR FIN 4*/
}


@media only screen and (min-width:768px){
    /*BODY PRODUCTORES INICIO*/
    .body-productores{
        background-color: rgb(0, 81, 73);
        background-image: url(../img/fondos-body/fondo-verde-pc.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: none;
        background-attachment: fixed;
    }
    /*BODY PRODUCTORES FIN*/
    
    
    
    /*CARD PRODUCTOR INICIO*/
    .card-productores{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: repeat(2);
    }

    .card-productores{
        .productor-1{
            background-color: rgba(0, 0, 0, 0.192);
            border-radius: 20px;
            margin: 20px;
            padding: 10px;
            color: aliceblue;
        }
    }
    
    .card-productores{
        .productor-1{
            .topcard-productor{
                .img-productor{
                    img{
                        width: 35px;
                        height: auto;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    
    /*datos de las cards individuales inicio*/
    .card-productores{
        .productor-1{
            .topcard-productor{
                display: flex;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding: 5px;
                justify-content:start;
                h4{
                    padding-left: 10px;
                    padding-top: 1px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-1{
            .productor-bio{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                }
                p{
                    text-align: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-1{
            .productor-programas{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 0px;
                    color: rgb(116, 200, 255);
                }
                .programas-iconos{
                    img{
                        width: 40px;
                        height: auto;
                        margin: 5px;
                    }
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-1{
            .productor-trabajos{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                }
                p{
                    text-align: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-1{
            .productor-contacto{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                    padding-bottom: 5px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-1{
            .productor-contacto{
                .productor-icono-redes{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    a i{
                        color: aliceblue;
                        font-size: 30px;
                }
                padding-bottom: 10px;
            }
        }
    }
    }
    /*CARD PRODUCTOR FIN*/
    
    
    /*CARD PRODUCTOR INICIO 2*/
    .card-productores{
        .productor-2{
            background-color: rgba(0, 0, 0, 0.192);
            border-radius: 20px;
            margin: 20px;
            padding: 10px;
            color: aliceblue;
        }
    }
    
    .card-productores{
        .productor-2{
            .topcard-productor{
                .img-productor{
                    img{
                        width: 35px;
                        height: auto;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    
    /*datos de las cards individuales inicio 2*/
    .card-productores{
        .productor-2{
            .topcard-productor{
                display: flex;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding: 5px;
                justify-content:start;
                h4{
                    padding-left: 10px;
                    padding-top: 1px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-2{
            .productor-bio{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                }
                p{
                    text-align: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-2{
            .productor-programas{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 0px;
                    color: rgb(116, 200, 255);
                }
                .programas-iconos{
                    img{
                        width: 40px;
                        height: auto;
                        margin: 5px;
                    }
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-2{
            .productor-trabajos{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                }
                p{
                    text-align: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-2{
            .productor-contacto{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                    padding-bottom: 5px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-2{
            .productor-contacto{
                .productor-icono-redes{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    a i{
                        color: aliceblue;
                        font-size: 30px;
                }
                padding-bottom: 10px;
            }
        }
    }
    }
    /*CARD PRODUCTOR FIN 2*/
    
    /*CARD PRODUCTOR INICIO 3*/
    .card-productores{
        .productor-3{
            background-color: rgba(0, 0, 0, 0.192);
            border-radius: 20px;
            margin: 20px;
            padding: 10px;
            color: aliceblue;
        }
    }
    
    .card-productores{
        .productor-3{
            .topcard-productor{
                .img-productor{
                    img{
                        width: 35px;
                        height: auto;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    
    /*datos de las cards individuales inicio 3*/
    .card-productores{
        .productor-3{
            .topcard-productor{
                display: flex;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding: 5px;
                justify-content:start;
                h4{
                    padding-left: 10px;
                    padding-top: 1px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-3{
            .productor-bio{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                }
                p{
                    text-align: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-3{
            .productor-programas{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 0px;
                    color: rgb(116, 200, 255);
                }
                .programas-iconos{
                    img{
                        width: 40px;
                        height: auto;
                        margin: 5px;
                    }
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-3{
            .productor-trabajos{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                }
                p{
                    text-align: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-3{
            .productor-contacto{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                    padding-bottom: 5px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-3{
            .productor-contacto{
                .productor-icono-redes{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    a i{
                        color: aliceblue;
                        font-size: 30px;
                }
                padding-bottom: 10px;
            }
        }
    }
    }
    /*CARD PRODUCTOR FIN 3*/
    
    /*CARD PRODUCTOR INICIO 4*/
    .card-productores{
        .productor-4{
            background-color: rgba(0, 0, 0, 0.192);
            border-radius: 20px;
            margin: 20px;
            padding: 10px;
            color: aliceblue;
        }
    }
    
    .card-productores{
        .productor-4{
            .topcard-productor{
                .img-productor{
                    img{
                        width: 35px;
                        height: auto;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    
    /*datos de las cards individuales inicio 4*/
    .card-productores{
        .productor-4{
            .topcard-productor{
                display: flex;
                border-bottom: 1px solid rgb(255, 255, 255);
                padding: 5px;
                justify-content:start;
                h4{
                    padding-left: 10px;
                    padding-top: 1px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-4{
            .productor-bio{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                }
                p{
                    text-align: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-4{
            .productor-programas{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 0px;
                    color: rgb(116, 200, 255);
                }
                .programas-iconos{
                    img{
                        width: 40px;
                        height: auto;
                        margin: 5px;
                    }
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-4{
            .productor-trabajos{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                }
                p{
                    text-align: center;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-4{
            .productor-contacto{
                h5{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    color: rgb(116, 200, 255);
                    padding-bottom: 5px;
                }
            }
        }
    }
    
    .card-productores{
        .productor-4{
            .productor-contacto{
                .productor-icono-redes{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    a i{
                        color: aliceblue;
                        font-size: 30px;
                }
                padding-bottom: 10px;
            }
        }
    }
    }
    /*CARD PRODUCTOR FIN 4*/
    }


    @media only screen and (min-width:1200px){
        /*BODY PRODUCTORES INICIO*/
        .body-productores{
            background-image: url(../img/fondos-body/fondo-verde-pc.jpg);
            background-color: rgb(0, 81, 73);
            background-position: center;
            background-size: cover;
            background-repeat: none;
            background-attachment: fixed;
        }
        /*BODY PRODUCTORES FIN*/
        
        
        
        /*CARD PRODUCTOR INICIO*/
        .card-productores{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

        }
    
        .card-productores{
            .productor-1{
                background-color: rgba(0, 0, 0, 0.192);
                border-radius: 20px;
                margin: 20px;
                padding: 10px;
                color: aliceblue;
            }
        }
        
        .card-productores{
            .productor-1{
                .topcard-productor{
                    .img-productor{
                        img{
                            width: 35px;
                            height: auto;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        
        /*datos de las cards individuales inicio*/
        .card-productores{
            .productor-1{
                .topcard-productor{
                    display: flex;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding: 5px;
                    justify-content:start;
                    h4{
                        padding-left: 10px;
                        padding-top: 1px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-1{
                .productor-bio{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                    }
                    p{
                        text-align: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-1{
                .productor-programas{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 0px;
                        color: rgb(116, 200, 255);
                    }
                    .programas-iconos{
                        img{
                            width: 40px;
                            height: auto;
                            margin: 5px;
                        }
                        display: flex;
                        justify-content: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-1{
                .productor-trabajos{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                    }
                    p{
                        text-align: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-1{
                .productor-contacto{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                        padding-bottom: 5px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-1{
                .productor-contacto{
                    .productor-icono-redes{
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        a i{
                            color: aliceblue;
                            font-size: 30px;
                    }
                    padding-bottom: 10px;
                }
            }
        }
        }
        /*CARD PRODUCTOR FIN*/
        
        
        /*CARD PRODUCTOR INICIO 2*/
        .card-productores{
            .productor-2{
                background-color: rgba(0, 0, 0, 0.192);
                border-radius: 20px;
                margin: 20px;
                padding: 10px;
                color: aliceblue;
            }
        }
        
        .card-productores{
            .productor-2{
                .topcard-productor{
                    .img-productor{
                        img{
                            width: 35px;
                            height: auto;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        
        /*datos de las cards individuales inicio 2*/
        .card-productores{
            .productor-2{
                .topcard-productor{
                    display: flex;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding: 5px;
                    justify-content:start;
                    h4{
                        padding-left: 10px;
                        padding-top: 1px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-2{
                .productor-bio{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                    }
                    p{
                        text-align: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-2{
                .productor-programas{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 0px;
                        color: rgb(116, 200, 255);
                    }
                    .programas-iconos{
                        img{
                            width: 40px;
                            height: auto;
                            margin: 5px;
                        }
                        display: flex;
                        justify-content: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-2{
                .productor-trabajos{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                    }
                    p{
                        text-align: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-2{
                .productor-contacto{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                        padding-bottom: 5px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-2{
                .productor-contacto{
                    .productor-icono-redes{
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        a i{
                            color: aliceblue;
                            font-size: 30px;
                    }
                    padding-bottom: 10px;
                }
            }
        }
        }
        /*CARD PRODUCTOR FIN 2*/
        
        /*CARD PRODUCTOR INICIO 3*/
        .card-productores{
            .productor-3{
                background-color: rgba(0, 0, 0, 0.192);
                border-radius: 20px;
                margin: 20px;
                padding: 10px;
                color: aliceblue;
            }
        }
        
        .card-productores{
            .productor-3{
                .topcard-productor{
                    .img-productor{
                        img{
                            width: 35px;
                            height: auto;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        
        /*datos de las cards individuales inicio 3*/
        .card-productores{
            .productor-3{
                .topcard-productor{
                    display: flex;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding: 5px;
                    justify-content:start;
                    h4{
                        padding-left: 10px;
                        padding-top: 1px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-3{
                .productor-bio{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                    }
                    p{
                        text-align: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-3{
                .productor-programas{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 0px;
                        color: rgb(116, 200, 255);
                    }
                    .programas-iconos{
                        img{
                            width: 40px;
                            height: auto;
                            margin: 5px;
                        }
                        display: flex;
                        justify-content: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-3{
                .productor-trabajos{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                    }
                    p{
                        text-align: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-3{
                .productor-contacto{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                        padding-bottom: 5px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-3{
                .productor-contacto{
                    .productor-icono-redes{
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        a i{
                            color: aliceblue;
                            font-size: 30px;
                    }
                    padding-bottom: 10px;
                }
            }
        }
        }
        /*CARD PRODUCTOR FIN 3*/
        
        /*CARD PRODUCTOR INICIO 4*/
        .card-productores{
            .productor-4{
                background-color: rgba(0, 0, 0, 0.192);
                border-radius: 20px;
                margin: 20px;
                padding: 10px;
                color: aliceblue;
            }
        }
        
        .card-productores{
            .productor-4{
                .topcard-productor{
                    .img-productor{
                        img{
                            width: 35px;
                            height: auto;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        
        /*datos de las cards individuales inicio 4*/
        .card-productores{
            .productor-4{
                .topcard-productor{
                    display: flex;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    padding: 5px;
                    justify-content:start;
                    h4{
                        padding-left: 10px;
                        padding-top: 1px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-4{
                .productor-bio{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                    }
                    p{
                        text-align: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-4{
                .productor-programas{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 0px;
                        color: rgb(116, 200, 255);
                    }
                    .programas-iconos{
                        img{
                            width: 40px;
                            height: auto;
                            margin: 5px;
                        }
                        display: flex;
                        justify-content: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-4{
                .productor-trabajos{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                    }
                    p{
                        text-align: center;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        padding-bottom: 10px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-4{
                .productor-contacto{
                    h5{
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        color: rgb(116, 200, 255);
                        padding-bottom: 5px;
                    }
                }
            }
        }
        
        .card-productores{
            .productor-4{
                .productor-contacto{
                    .productor-icono-redes{
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        a i{
                            color: aliceblue;
                            font-size: 30px;
                    }
                    padding-bottom: 10px;
                }
            }
        }
        }
        /*CARD PRODUCTOR FIN 4*/
        }